.container {
  height: 98vh;
  width: 98vw;
  font-size: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#messageBox {
  border: 1px solid #ccc;
  height: 100%;
  overflow: scroll;
  margin-bottom: 1%;
}

#messageBox p {
  margin: 0;
  padding: 5px;
}

#messageBox p:nth-child(even) {
  border-bottom: 1px solid #8a8989;
  background-color: #ccc;
}

#messageBox p:nth-child(odd) {
  border-bottom: 1px solid #ccc;
  background-color: white;
}

#messageBox p.me {
  background-color: pink;
  border-bottom: 1px solid palevioletred;
}

#messageBox p span {
  color: red;
}

#messageForm input[type="text"],
#roomForm input[type="text"] {
  width: 88%;
  margin-bottom: 1%;
  font-size: 20px;
}

#messageForm input[type="submit"],
#roomForm input[type="submit"] {
  width: 10%;
  font-size: 20px;
  float: right;
}
