#messageBox {
  border: 1px solid #ccc;
  margin: 5px;
}

#messageBox p:nth-child(even) {
  border-bottom: 1px solid #ccc;
  background-color: #ccc;
}

#messageBox p:nth-child(odd) {
  border-bottom: 1px solid white;
  background-color: #ccc;
}
